.card {
  height: 424px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.descriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.image {
  width: 100%;
  height: 268px;
  object-fit: cover;
  border-radius: 14px;
}
.titleWrapper {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.title span {
  color: #3470ff;
}

.price {
  margin-right: 11px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
}
.descriptionItem {
  display: flex;
  gap: 6px;
}
.btn {
  width: 100%;
  border-radius: 12px;
  /* padding: 12px 99px; */
  height: 44px;
  background-color: #3470ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
.btn:hover,
.btn:focus {
  background-color: #0B44CD;
}

.heartIcon {
  width: 16px;
  height: 16px;
  stroke: #f2f4f7;
  fill: none;
}

.heartBtn {
  position: absolute;
  right: 16px;
  top: 16px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.vertLine::before {
  content: "";
    border-right: 1px solid #dadde1;
  }