#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
.mainContainer {
  padding: 84px 120px 104px;
}