.loadMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 51px;
  border: 1px solid #3470ff;
  border-radius: 12px;
  cursor: pointer;
  margin: 80px auto 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  background-color: #fff;
  transition: background-color 200ms ease-in-out;
}
.loadMoreBtn:hover,
.loadMoreBtn:focus {
  border: 1px solid #0b44cd;
}